body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

header {
  background: #007bff;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 50px;
}

.btn {
  background: #ff6b6b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.ticket-box {
  background: white;
  padding: 30px;
  margin: 20px auto;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
} 
table {
  margin: auto;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ddd;
  padding: 10px;
}